matrix:
    include:
        - os: linux
        - os: osx

language: node_js

node_js:
    - "8.12.0"

cache:
    directories:
        - node_modules

install:
    - npm install
    - npm install -g codecov

after_success:
    - bash <(curl -s https://codecov.io/bash) -e TRAVIS_NODE_VERSION
